@import "/css/base/base.css";
@import "/css/base/layout.css";

.logo {
    height: 50px;
    
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}