@import "../base/base.css";
@import "../base/layout.css";
@import "../coponents/font-awesome.min.css";

.logo-1 {
    height: 50px;
    
}

.logo-2 {
    height: 50px;
    
}

.meniu-logo {
    height: 50px;
    display: none;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    margin-top: 30px;
}

h1 {
    color: white;
    font-size: 35px;
}

p {
    color: white;
    line-height: 1.5;
}

.partner-text h2 {
    color: aqua;
    
}
 .partner-text h1, p {
    color: black;
 }

.talent-img {
    width: 270px;
}

 