body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




@media ( max-width: 1100px ) {
    .container > .row {

        flex-direction: column-reverse;
        
    }
    .container .column, .column.right-column {
        width: 100%;
        
    }
    .container .column {
        margin-bottom: 50px;
    }

    .top .container {
        padding-top: 0;
        
    }
    header .logo-1 {
        display: none;

    }

    header nav {
        display: none;
    }

    header .meniu-logo {
        display:block;
    }

    footer {
        flex-direction: column;
        gap:18px;
        justify-content: center;
    }

    .container > .first {
        display:block;
    }

    header > .logo-2 {
        height: 30px;
    }
    header > .meniu-logo {
        height: 30px;
    }

    

    

    
}

@media ( max-width: 700px ) {

    .row-short > .talent-logo { 
        justify-content: center;

    }


}

@media ( max-width: 560px ) {
    .container > .row > .first {
        flex-direction: column-reverse;
        
    }
    .row-short .p-l {
        justify-content: center;
    }


}

@media ( max-width: 440px ) {

}

