main {
    width: 100%;
    

}
.top {
    width: 100%;
    background-color: #74C69D;

}

header,
.container {
    width: 100%;
    padding: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}